{% extends "base.html" %}
{% load static %}
{% block extra_headers %}
    <script type="text/javascript" src="{% static "js/documents.js" %}"></script>
{% endblock extra_headers %}

{% block pagetitle %}Edit Question{% endblock %}
{% block title %}Edit Question '{{question.question}}'{% endblock %}

{% block main %}
    <form id="question_form" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <p> <label>&nbsp;</label><input type="submit" value="Submit" /> </p>
    </form>
{% endblock main %}