{% extends "base.html" %}
{% load static %}
{% block extra_headers %}
    <script type="text/javascript" src="{% static "js/documents.js" %}"></script>
{% endblock extra_headers %}

{% block pagetitle %}Edit System{% endblock %}
{% block title %}Edit System in <a href="{% url documents.views.view extra_data.doc.id %}">{{extra_data.doc.id}}</a>{% endblock %}

{% block main %}
    <form id="edit_system" action="{{ extra_data.action }}" method="POST">{% csrf_token %}
        {{ form.as_p }}

        <div id="sections">
        <div class="ui-widget-header">Sections</div>

            <ul class="ui-widget-content sortable">
            {% for section in form.section_fields %}
                <li class="ui-state-default">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    <span class="ui-widget-content section name">{{ section }}</span>
                    <a class="ui-widget-content section edit"
                        href="{% url documents.views.edit_system_section forloop.counter0 extra_data.system.index extra_data.doc.id %}"
                    >
                        Edit
                    </a>
                    <a class="ui-widget-content section delete"
                        href="{% url documents.views.delete_system_section forloop.counter0 extra_data.system.index extra_data.doc.id %}"
                    >
                        Delete
                    </a>
                </li>
            {% empty %}
                <li class="ui-state-default">No Section Defined</li>
            {% endfor %}
            </ul>

        </div>
        <div class="ui-widget system actions">
            <a class="ui-widget-content ui-state-default" href="{% url documents.views.add_system_section extra_data.system.index extra_data.doc.id %}">Add Section</a>
            <a class="ui-widget-content ui-state-default" href="{% url documents.views.view extra_data.doc.id %}">Back to root</a>
        </div>
        <p> <label>&nbsp;</label><input class="ui-widget-content ui-state-default" type="submit" value="Submit" /> </p>
    </form>
{% endblock main %}