{% extends "base.html" %}
{% load static %}
{% block extra_headers %}
    <script type="text/javascript" src="{% static "js/documents.js" %}"></script>
{% endblock extra_headers %}

{% block pagetitle %}View Document {{doc.id}}{% endblock %}
{% block title %}View Document {{doc.id}}{% endblock %}


{% block main %}
    <div id="document">
        <p class="ui-widget"><span class="ui-widget-header document label">Document ID:</span><span id="id" class="ui-widget-content ui-state-default ui-corner-all document value">{{doc.id}}</span></p>
        <p class="ui-widget"><span class="ui-widget-header document label">Revision:</span><span id="rev" class="ui-widget-content ui-state-default ui-corner-all document value">{{doc.rev}}</span></p>
        <p class="ui-widget"><span class="ui-widget-header document label">Title:</span><span id="rev" class="ui-widget-content ui-state-default ui-corner-all document value">{{doc.title}}</span></p>
        <p class="ui-widget"><span class="ui-widget-header document label">Introduction Header:</span><span id="rev" class="ui-widget-content ui-state-default ui-corner-all document value">{{doc.intro_header}}</span></p>
        <p class="ui-widget"><span class="ui-widget-header document label">Introduction:</span><textarea readonly id="intro" class="ui-widget-content ui-state-default ui-corner-all document value">{{doc.intro}}</textarea></p>
        <div id="systems" class="ui-widget">
            <div class="ui-widget-header">Systems</div>
            <ul class="ui-widget-content">
            {% for sys in doc.systems %}
                <li class="ui-state-default">{{sys.name}}</li>
                <ul class="ui-widget-content">
                {% for sec in sys.sections %}
                    <li class="ui-state-default">{{sec.header}}</li>
                    <ul class="ui-widget-content">
                    {% for q in sec.questions %}
                        <li class="ui-state-default">{{q.question}}</li>
                    {% empty %}
                        <li class="ui-state-default"><i>No Questions Defined</i></li>
                    {% endfor %}
                    </ul>
                {% empty %}
                    <li class="ui-state-default">No Sections Defined</li>
                {% endfor %}
                </ul>
            {% empty %}
                <li class="ui-state-default">No System Defined</li>
            {% endfor %}
            </ul>
        </div>
        <div id="contacts" class="ui-widget">
            <div class="ui-widget-header">Contacts</div>
            <ul class="ui-widget-content">
            {% for contact in doc.contacts %}
                <li class="ui-state-default">
                    <span class="ui-icon ui-icon-info"></span>
                    <span class="ui-state-default contact">{{contact.name}} ({{contact.type_}})</span>
                </li>
            {% empty %}
                <li class="ui-state-default">No Contacts Defined</li>
            {% endfor%}
            </ul>
        </div>
        <div class='document actions'>
            <a href="/questionnaire/{{doc.id}}">Questionnaire</a>
            <a href="/output/questionnaire/pdf/{{doc.id}}">Questionnaire PDF</a>
            <a href="/output/questionnaire/xls/{{doc.id}}">Questionnaire XLS</a>
            <br />
            <a href="/output/document/pdf/{{doc.id}}">Document PDF</a>
            <a href="/output/document/docx/{{doc.id}}">Document DOCX</a>
            <br />
            <a href="/documents/validate/{{doc.id}}">Validate</a>
            <a href="/documents/edit/{{doc.id}}">Edit this Document</a>
            <a href="/documents/clone/{{doc.id}}">Clone this Document</a>
            <a href="/documents/delete/{{doc.id}}">Delete This Document</a>
        </div>
    </div>
{% endblock main %}