body {
    background: white;
    font-family:  Lucida Grande,Lucida Sans,Arial,sans-serif;
    margin: 50px;
}

#main {
	padding: 50;
	float: left;
}
#header {
    font-size: 250%;
    font-weight: bolder;
}
#header, #footer, #main, #content, #nav {
	float:	none;
}

#footer {
    margin-top: 100px;    
    text-align: center;
    clear: both;
}

/*** uniform look & feel for all forms ***/
form {
    border: 1px solid black;
    padding: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background: #E3F1FA;
}

input, select {
    border: 1px solid black;
    /* background: #9cf; */
    background: #EEF7FC;
    width: 350px;
    margin: 3px;
}

input[type="submit"] {
    background: #ccf;
    height: 25px;
}


/*** This part styles the Question List ***/
.question {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.question.odd {
	background: lightblue;
}
.question.even {
	background: lightgrey;
}

.question > .delete {
	float: right;
}
.question > .clone {
	background: lightgreen;
	float: right;
}

/********************************************/


/********* Message page *********/ 
#message {
    border: 1px solid black;
    padding: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background: #E3F1FA;
    float: left;
}
/*********************************/


/**** This part styles the question form ****/
#question_form {
    width: 600px;
    float: left;
}

#question_form > p { 
    margin-top: 5px;
    width: 100%;
    float:left;
}

#question_form > p > label {
    margin-right: 25px;
    text-align: right;
    text-decoration: underline;
    width: 200px;
    display: block;
    float: left;
}

#question_form > p > input, #question_form > p > select {
    border: 1px solid black;
    /* background: #9cf; */
    background: #EEF7FC;
    width: 350px;
    float: right;
    margin: 3px;
}

#question_form > p > input[type="submit"] {
    background: #ccf;
    height: 25px;
}

ul.errorlist+p {
    border: 2px solid red;
}

/*** This hides the "This field is required" list item
 *   must be confirmed with FPP 
#question_form > ul.errorlist {
    display:none
}
****/
/* remove the underline from the empty label */
#question_form > p:last-child > label {
    text-decoration: none;
}

/*******************************************************/

/***************** Documents Part **********************/

#document {
    border: 1px solid black;
    padding: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background: #E3F1FA;
    float: left;
    width: 900px;
}
#document > p {
    clear: both;
}

#document > p > .document.label {
    font-weight: bold;
    text-align: right;
    width: 200px;
    display: block;
    float: left;
    margin-right: 25px
}
#document > p > textarea {
    height: 300px;
    background: #EEF7FC;
    width: 660px;
   
}
.document.actions {
    clear: both;
    text-align: center;
    margin: 25px;
    margin-top: 100px;
}

/****** Systems Part ******/
a.system, a.section {
    width: 75px;
    text-align: center;
    float: right;
}

a.system.edit, a.system.delete, a.section.edit {
    position: relative;
    top: -1em;
}

a.system.edit, a.section.edit {
    margin-left: 5px;
    margin-right: 20px;
}

a.system.delete {
    margin-right: 5px;
}

span.system.name, span.section.name {
    position: relative;
    top: -1.0em;
    margin-left: 1.5em;
}


#systems > ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#systems > ul > li, #sections > ul > li {
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 0.5em; 
    height: 18px; 
}

#systems > ul > li > span:first, #sections > ul > li > span:first{ 
    margin-left: -1.3em; 
}
/**************************/

/**** Sections Part *****/
#sections > ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#sections > ul > li {
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 0.5em; 
    height: 18px; 
}



