body {
    background: white;
    font-family:  Lucida Grande,Lucida Sans,Arial,sans-serif;
    margin: 50px;
}

#main {
	padding: 50;
	float: left;
}
#header {
    font-size: 250%;
    font-weight: bolder;
}
#header, #footer, #main, #content, #nav {
	float:	none;
}

#footer {
    margin-top: 100px;
    text-align: center;
    clear: both;
}

/*** uniform look & feel for all forms ***/
form {
    border: 1px solid black;
    padding: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background: #E3F1FA;
}

input, select, textarea {
    border: 1px solid black;
    /* background: #9cf; */
    background: #EEF7FC;
    width: 350px;
    margin: 3px;
}


/*
input[type="submit"] {
    background: #ccf;
    height: 25px;
}*/


/*** This part styles the Question List ***/
.question {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/*
.question.odd {
	background: lightblue;
}
.question.even {
	background: lightgrey;
}
*/

.question > .delete {
	float: right;
}
.question > .clone {
	/*background: lightgreen;*/
	float: right;
}

/********************************************/


/********* Message page *********/
#message {
    border: 1px solid black;
    padding: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background: #E3F1FA;
    float: left;
}
/*********************************/


/**** This part styles the question form ****/
#question_form {
    width: 600px;
    float: left;
}

#question_form > p {
    margin-top: 5px;
    width: 100%;
    float:left;
}

#question_form > p > label {
    margin-right: 25px;
    text-align: right;
    text-decoration: underline;
    width: 200px;
    display: block;
    float: left;
}

#question_form > p > input, #question_form > p > select {
    border: 1px solid black;
    /* background: #9cf; */
    background: #EEF7FC;
    width: 350px;
    float: right;
    margin: 3px;
}

div > p > label {
    margin-right: 25px;
    text-align: right;
    text-decoration: underline;
    width: 200px;
    display: block;
    float: left;
}
#question_form > p > input[type="submit"] {
    background: #ccf;
    height: 25px;
}

ul.errorlist+p {
    border: 2px solid red;
}

/*** This hides the "This field is required" list item
 *   must be confirmed with FPP
#question_form > ul.errorlist {
    display:none
}
****/
/* remove the underline from the empty label */
#question_form > p:last-child > label {
    text-decoration: none;
}

/*******************************************************/

/***************** Documents Part **********************/

#document {
    border: 1px solid black;
    padding: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background: #E3F1FA;
    float: left;
    width: 900px;
}
#document > p {
    clear: both;
}

#document > p > .document.label {
    font-weight: bold;
    text-align: right;
    width: 200px;
    display: block;
    float: left;
    margin-right: 25px;
}
#document > p > textarea {
    height: 300px;
    background: #EEF7FC;
    width: 660px;

}
.document.actions {
    clear: both;
    text-align: center;
    margin: 25px;
    margin-top: 100px;
}

#document_form > p > textarea {
    width: 800px ! important;
    clear: right;
    display: block;
    margin-left: 200px;
    margin-bottom: 50px;
    /*float: right;*/
}

/****** Systems Part ******/
a.system, a.section, a.question {
    width: 75px;
    text-align: center;
    float: right;
}

a.system.edit, a.system.delete, a.section.edit, a.section.delete, a.question.edit, a.question.delete {
    position: relative;
    top: -1em;
}

a.system.delete, a.section.delete, a.question.delete {
    margin-right: 5px;
}

a.system.edit, a.section.edit, a.question.edit {
    margin-left: 5px;
    margin-right: 20px;
}

span.system.name, span.section.name, span.question.name {
    position: relative;
    top: -1.0em;
    margin-left: 1.5em;
}


#systems > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#systems > ul > li, #sections > ul > li, #questions > ul > li  {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 0.5em;
    height: 18px;
}

#systems > ul > li > span:first, #sections > ul > li > span:first, #questions > ul > li > span:first{
    margin-left: -1.3em;


}
.system.actions {
    clear: both;
    text-align: center;
    margin: 25px;
    margin-top: 100px;
}

#edit_system > p > textarea {
    margin-left: 100px;
    margin-bottom: 50px;
    display: block;
    clear: both;
    width: 800px;
    height: 300px;
}
/**************************/

/**** Sections Part *****/
#sections > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sections > ul > li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 0.5em;
    height: 18px;
}

/**** Questions Part *****/
#questions > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#question > ul > li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 0.5em;
    height: 18px;
}
.question.actions {
    clear: both;
    text-align: center;
    margin: 25px;
    margin-top: 100px;
}

input[type="text"][readonly="readonly"] {
    border-style: dotted ! important;
    background: #E6EAED ! important;
}


/**** Questionnaire Part ****/
#questionnaire > div.system {
    font-size: 200%
}

#questionnaire > div.section {
    font-size: 150%;
    margin: 50px;
}
#questionnaire > p > label {
    font-weight: bold;
    text-align: right;
    width: 600px;
    display: block;
    float: left;
    margin-right: 25px;
}
#questionnaire > p > input {

}