body {
    background: white;
    font-family: Verdana;
    margin-left: 50px;
}
#main {
	padding: 50;
	float: left;
}

.question {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.question.odd {
	background: lightblue;
}
.question.even {
	background: lightgrey;
}

.question > .delete {
	float: right;
}
.question > .clone {
	background: lightgreen;
	float: right;
}

#header {
    font-size: 250%;
    font-weight: bolder;
}
#header, #footer, #main, #content, #nav {
	float:	none;
}

#footer {
	text-align: center;
}

form {
    border: 1px solid black;
    padding: 50px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#question_form {
    background: lightblue;
    width: 600px;
}   float: left;

 
#question_form > p > input {

}


#question_form > p > label {
    margin-right: 25px;
    text-align: right;
    text-decoration: underline;
    width: 200px;
    display: block;
    float: left;
}