{% extends "base.html" %}
{% block pagetitle %}Questions Management{% endblock %}
{% block title %}List of Questions{% endblock %}

{% block main %}
	<div class="question subheader"> <a href="/questions/new/">Create a new question</a><br /><br /></div>
    {% for q in questions %}
        <div class="question {% cycle 'odd' 'even' %}" >
            <a href="/questions/edit/{{q.id}}">{{q.value.question}}</a>
            <a class="delete" href="/questions/delete/{{q.id}}">[Delete]</a>
            <a class="clone" href="/questions/clone/{{q.id}}">[Clone]</a>
        </div>
    {% endfor %}
{% endblock main %}
