{% extends "base.html" %}
{% load static %}
{% block extra_headers %}
    <script type="text/javascript" src="{% static "js/questions.js" %}"></script>
{% endblock extra_headers %}

{% block pagetitle %}New Question{% endblock %}
{% block title %}New Question{% endblock %}


{% block main %}
	<form id="question_form" action="{{ extra_data.action }}" method="POST">{% csrf_token %}
		{{ form.as_p }}
		<p> <label>&nbsp;</label><input type="submit" value="Submit" /> </p>
	</form>
{% endblock main %}
