<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block pagetitle %}{% endblock %}</title>
        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/cupertino/jquery-ui.css" %}" />
        <link rel="stylesheet" href="{% static "css/main.css" %}" />
        {% block extra_headers %} {% endblock %}
    </head>
    <body>
        <div id="header">Tender Management</div>
        <div id="nav">
            <ul>
                <li><a href="/questions/">Questions</a>
                <li><a href="/documents/">Documents</a>
            </ul>
        </div>
        <div id="content">
            <div id="main">
                <h1>{% block title %}{% endblock %}</h1>
                    {% block main %}{% endblock %}
            </div>
        </div>
        <div id="footer">..:: FPP 2012 ::..</div>
    </body>
</html>
